#high{
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
#start{
    display: flex;
    flex-direction: row;
}
#guide-button{
    margin: 0 16px 0 0;
    width: 40px;
    height: 40px;
    color: #606060;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-size: 0;
}
.button{
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    margin: 20px;
    width: 10px;
    height: 60px;
}
.guide-icon{
    margin: 20px;
    width: 10px;
    height: 60px;
}