.headerleft{
    display: flex;
}

.logo{
    width: 40px;
    
}
#searchbar{
    display: flex;
    margin-left: 10px;
}
.search{
    width: 230px;
    border-radius: 20px;
    background-color:#F0F2F5;
    border:none;border-right:0px; border-top:0px; border-left:0px; border-bottom:0px;
    text-align: center;
}
.searchimg{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}